﻿@using System.Web.UI.WebControls
@using Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sb-admin-2")
    @Scripts.Render("~/bundles/modernizr")
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'041a1ec0-75b6-4a09-87f0-40e2b32adeea'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
<div id="wrapper">
    <!-- Top Navigation Begin. -->
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Medical Inventory App</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>
                    @Translation.Language
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageTag = "en", returnUrl = HttpContext.Current.Request.Url.AbsoluteUri }, null)</li>
                    <li>@Html.ActionLink("Dansk", "Change", "Language", new { LanguageTag = "da-DK", returnUrl = HttpContext.Current.Request.Url.AbsoluteUri }, null)</li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            @if (ViewBag.IsAuthenticated != null)
            {
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        @Translation.Profile
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        @if (ViewBag.IsAdmin == null)
                        {
                            <li>
                                <a href="~/User/index"><i class="fa fa-user fa-fw"></i>@Translation.MedicalChest</a>
                            </li>
                            <li class="divider"></li>
                        }
                        <li>
                            <a href="@Url.Action("Logout", "Auth")"><i class="fa fa-sign-out fa-fw"></i>@Translation.Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            }
            else
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" href="~/auth/">
                        <i class="fa fa-user fa-fw"></i>
                        @Resources.Translation.Login
                    </a>
                    <!-- /.dropdown-user -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="~/auth/UserRegister">
                        <i class="fa fa-user fa-fw"></i>
                        @Resources.Translation.SignUp
                    </a>
                    <!-- /.dropdown-user -->
                </li>
            }
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <img src="~/Content/Image/logo.png" id="logo"/>
                    </li>
                    @if (ViewBag.IsAdmin == null)
                    {

                    }
                    else
                    {
                        <li>
                            <a href="~/admin/user"> @Resources.Translation.Users</a>
                        </li>
                        <li>
                            <a href="~/admin/medicinechest"> @Resources.Translation.MedicalChest</a>
                        </li>
                        <li>
                            <a href="~/admin/medicinegroup"> @Resources.Translation.MedicinGroup<span class="fa arrow"></span></a>
                        </li>
                        <li>
                            <a href="~/admin/medicin">@Resources.Translation.Meds</a>
                        </li>
                    }                  
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
<!-- Top Navigation End. -->
    
<!-- Body Content Begin. -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@ViewBag.Header</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        @RenderBody()
    </div>
    <!-- /#page-wrapper -->
    <!-- Body Content End.-->
</div>
    
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/sb-admin-2")
@RenderSection("scripts", required: false)
</body>
</html>
