﻿@using System.Threading
@using Entities
@model Frontend.Models.ViewModels.Admin.Medicin.MedicinInfoViewModel

@{
    ViewBag.Title = "MedicinInfoView";
    ViewBag.Header = $"{@Resources.Translation.Meds} info.";
}

@{
    ItemInformationLang lang
= Model.ItemInformation.Information(Thread.CurrentThread.CurrentUICulture.Name);
}
    <div>
        <div class="row">
            <div class="col-md-2" style="font-weight: bold;">@Resources.Translation.GroupNumber:</div>
            <div class="col-md-5">@Model.ItemInformation.GroupNumber</div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2" style="font-weight: bold;">@Resources.Translation.Name:</div>
            <div class="col-md-5">@lang.Name</div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2" style="font-weight: bold;">AtcCode:</div>
            <div class="col-md-5">@Model.ItemInformation.AtcCode</div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2" style="font-weight: bold;">@Resources.Translation.Administration:</div>
            <div class="col-md-5">@lang.Administration</div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2" style="font-weight: bold;">MFag:</div>
            <div class="col-md-5">@lang.Mfag</div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <a href="~/admin/medicin">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        <span style="margin-left: 5px;">@Resources.Translation.Back</span>
                    </button>
                </a>
            </div>
            <div class="col-md-5">
                <a href="~/admin/medicin/edit/@Model.ItemInformation.Id">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <span style="margin-left: 5px;">@Resources.Translation.Edit</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
