﻿@using System.Threading
@using Entities
@model Frontend.Models.BindingModels.Admin.MedicinCreateBindingModel
@{
    ViewBag.Title = "Medicin Create";
    ViewBag.Header = $"{@Resources.Translation.Meds} {@Resources.Translation.Create}";
}
<form class="form-horizontal" action="~/admin/medicin/create" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-1 control-label" for="DanishName">@Resources.Translation.Danish @Resources.Translation.MedicinGroup:</label>
            <div class="col-md-5">
                <select name="ItemGroup">
                    @foreach (var group in Model.ItemGroupInformations)
                    {
                        ItemGroupInformationLang lang
                            = group.Information(Thread.CurrentThread.CurrentUICulture.Name);

                        <option value="@group.Id">@lang.Name</option>
                    }
                </select>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-1 control-label" for="DanishName">@Resources.Translation.Danish @Resources.Translation.Name:</label>
            <div class="col-md-5">
                <input id="DanishName" name="DanishName" placeholder="" class="form-control input-md" required="" type="text" value="@Model.DanishName">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-1 control-label" for="EnglishName">@Resources.Translation.English Name:</label>
            <div class="col-md-5">
                <input id="EnglishName" name="EnglishName" placeholder="" class="form-control input-md" required="" type="text" value="@Model.EnglishName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label" for="DanishAdministration">@Resources.Translation.Danish @Resources.Translation.Administration:</label>
            <div class="col-md-5">
                <input id="DanishAdministration" name="DanishAdministration" placeholder="" class="form-control input-md" required="" type="text" value="@Model.DanishAdministration">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label" for="EnglishAdministration">@Resources.Translation.English @Resources.Translation.Administration:</label>
            <div class="col-md-5">
                <input id="EnglishAdministration" name="EnglishAdministration" placeholder="" class="form-control input-md" required="" type="text" value="@Model.EnglishAdministration">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label" for="DanishMFag">@Resources.Translation.Danish MFag:</label>
            <div class="col-md-5">
                <input id="DanishMFag" name="DanishMFag" placeholder="" class="form-control input-md" required="" type="text" value="@Model.DanishMFag">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label" for="DanishMFag">@Resources.Translation.English MFag:</label>
            <div class="col-md-5">
                <input id="EnglishMFag" name="EnglishMFag" placeholder="" class="form-control input-md" required="" type="text" value="@Model.EnglishMFag">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label" for="AtcCode">AtcCode:</label>
            <div class="col-md-5">
                <input id="AtcCode" name="AtcCode" placeholder="" class="form-control input-md" required="" type="text" value="@Model.AtcCode">
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-1">
            <a href="~/admin/medicin">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    <span style="margin-left: 5px;">@Resources.Translation.Back</span>
                </button>
            </a>
        </div>
        <div class="col-md-5">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span style="margin-left: 5px;">@Resources.Translation.Create</span>
            </button>
        </div>
    </div>
</form>

