﻿@model Frontend.Models.BindingModels.Admin.UserEditBindingModel
@{
    ViewBag.Title = "User Edit";
    ViewBag.Header = $"{@Resources.Translation.Users} {@Resources.Translation.Edit}";
}

<form class="form-horizontal" action="~/admin/user/edit" method="post">
    <fieldset>
        <input type="hidden" name="Id" value="@Model.Id" />
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-1 control-label" for="UserName">@Resources.Translation.Username:</label>
            <div class="col-md-5">
                <input disabled="disabled" id="UserName" name="UserName" placeholder="" class="form-control input-md" required="" type="text" value="@Model.UserName">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-1 control-label" for="Email">@Resources.Translation.Email:</label>
            <div class="col-md-5">
                <input id="Email" name="Email" placeholder="" class="form-control input-md" required="" type="email" value="@Model.Email">
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-1">
            <a href="~/admin/user">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    <span style="margin-left: 5px;">@Resources.Translation.Back</span>
                </button>
            </a>
        </div>
        <div class="col-md-5">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span style="margin-left: 5px;">@Resources.Translation.Update</span>
            </button>
        </div>
    </div>
</form>