﻿@model Frontend.Models.ViewModels.Admin.User.UserInfoViewModel
@{
    ViewBag.Title = "Info";
    ViewBag.Header = $"{@Resources.Translation.Users} info.";
}

<div>
    <div class="row">
        <div class="col-md-2" style="font-weight: bold;">@Resources.Translation.Username:</div>
        <div class="col-md-5">@Model.User.UserName</div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2" style="font-weight: bold;">@Resources.Translation.Email:</div>
        <div class="col-md-5">@Model.User.Email</div>
    </div>
    <br/>
    <div class="row">
        @if (Model.User.MedicalChest != null)
        {
            <div class="col-md-2" style="font-weight: bold;">@Resources.Translation.MedicalChest:</div>
            <div class="col-md-5">@Model.User.MedicalChest.Id</div>
        }
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2">
            <a href="~/admin/user">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    <span style="margin-left: 5px;">@Resources.Translation.Back</span>
                </button>
            </a>
        </div>
        <div class="col-md-5">
            <a href="~/admin/user/edit/@Model.User.Id">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span style="margin-left: 5px;">@Resources.Translation.Edit</span>
                </button>
            </a>
        </div>
    </div>
</div>