﻿@model Frontend.Models.BindingModels.Admin.UserDeleteBindingModel
@{
    ViewBag.Title = "User Delete";
    ViewBag.Header = $"{@Resources.Translation.Users} {@Resources.Translation.Delete}";
}

<form action="~/admin/user/delete" method="post">
    <input type="hidden" name="Id" value="@Model.Id"/>
    <input type="hidden" value="@Model.UserName"/>
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-5">@Resources.Translation.DeleteConfirm: @Model.UserName</div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <button type="submit" class="btn btn-default">
                @Resources.Translation.Delete
            </button>
            <a href="~/admin/user/">
                <button class="btn btn-default">
                        @Resources.Translation.Cancel
                </button>
            </a>
        </div>
    </div>
</form>
