﻿@using Antlr.Runtime
@using Entities
@model Frontend.Models.ViewModels.Admin.User.UserViewModel

@{
    ViewBag.Title = "UserView";
    ViewBag.Header = $"{@Resources.Translation.Users}";
}
<div class="panel panel-default">
    <div class="panel-heading">@Resources.Translation.Users.</div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>@Resources.Translation.Username</th>
            <th>@Resources.Translation.Email</th>
            <th style="width: 60px;">@Resources.Translation.Edit</th>
            <th style="width: 60px;">@Resources.Translation.Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in @Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a href="~/admin/user/info/@user.Id">
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="~/admin/user/delete/@user.Id">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="myPager">
            @for (int i = 0; i < Model.NumberOfPages; i++)
            {
                <li><a href="~/admin/user/pagination?pageIndex=@(i+1)&pageSize=2" class="page_link">@(i+1)</a></li>
            }
        </ul>
    </div>
</div>