﻿body {
    background-color: #012C43;
}

/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#wrapper {
    background-color: #012C43;
}

.navbar-default {
    background-color: #012C43;
    border-color: #012C43;
}

.sidebar ul li {
    border-bottom: 0px solid #012C43 !important;
}

.sidebar ul li a {
    color: #FFFFFF;
}

.navbar-top-links li a {
    color: #FFFFFF;
}

.navbar-top-links li ul li a{
    color: black;
}

.nav li a:hover {
    color: black;
}

.active a  {
    color: black !important;
}

.active ul li a {
    color: white !important;
}

.active ul li a:hover {
    color: black !important;
}

#logo {
    width: 120px;
    margin-left: 50px;
}