﻿@model Frontend.Models.BindingModels.Admin.MedicineChestEditBindingModel
@{
    ViewBag.Title = "Medicine Chest Edit.";
    ViewBag.Header = $"{@Resources.Translation.MedicalChest} {@Resources.Translation.Edit}";
}

@{
    <form class="form-horizontal" action="~/admin/medicinechest/edit" method="post">
        @Html.AntiForgeryToken()
        <fieldset>
            <input type="hidden" name="Id" value="@Model.Id" />
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-1 control-label" for="DanishName">@Resources.Translation.Danish @Resources.Translation.Name:</label>
                <div class="col-md-5">
                    <input id="DanishName" name="DanishName" placeholder="" class="form-control input-md" required="" type="text" value="@Model.DanishName">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-1 control-label" for="EnglishName">@Resources.Translation.English @Resources.Translation.Name:</label>
                <div class="col-md-5">
                    <input id="EnglishName" name="EnglishName" placeholder="" class="form-control input-md" required="" type="text" value="@Model.EnglishName">
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-1">
                <a href="~/admin/medicinechest">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        <span style="margin-left: 5px;">@Resources.Translation.Back</span>
                    </button>
                </a>
            </div>
            <div class="col-md-5">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span style="margin-left: 5px;">@Resources.Translation.Update</span>
                </button>
            </div>
        </div>
    </form>
}