﻿
@{
    ViewBag.Title = "MedicineChestDeleteView";
}

@model Frontend.Models.BindingModels.Admin.MedicineChestDeleteBindingModel

@{
    ViewBag.Title = "Medicin Delete";
    ViewBag.Header = $"{@Resources.Translation.MedicalChest} {@Resources.Translation.Delete}";
}

<form action="~/admin/medicinechest/delete" method="post">
    <input type="hidden" name="Id" value="@Model.Id"/>
    <input type="hidden" name="name" value="@Model.Name"/>
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-5">@Resources.Translation.DeleteConfirm: @Model.Name</div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <button type="submit" class="btn btn-default">
                @Resources.Translation.Delete
            </button>
            <a href="~/admin/medicinechest/">
                <button class="btn btn-default">
                    @Resources.Translation.Cancel
                </button>
            </a>
        </div>
    </div>
</form>