﻿@using System.Threading
@using Entities
@model Frontend.Models.ViewModels.Admin.MedicineChest.MedicineChestViewModel

@{
    ViewBag.Title = "Medicine Chest";
    ViewBag.Header = $"{@Resources.Translation.MedicalChest}";
}

<div>
    <a href="~/admin/medicinechest/create">
        <button type="button" class="btn btn-default">
            @Resources.Translation.Create
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>

        </button>
    </a>
</div>
<div class="panel panel-default">
    <div class="panel-heading">@Resources.Translation.Users.</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>@Resources.Translation.Name</th>
                <th style="width: 60px;">@Resources.Translation.Edit</th>
                <th style="width: 60px;">@Resources.Translation.Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chest in @Model.MedicalChestInformations)
            {
                MedicalChestInformationLang lang
                    = chest.Information(Thread.CurrentThread.CurrentUICulture.Name);
                <tr>
                    <td>@chest.Id</td>
                    <td>@lang.Name</td>
                    <td>
                        <a href="~/admin/medicinechest/edit/@chest.Id">
                            <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="~/admin/medicinechest/delete/@chest.Id">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="myPager">
            @*@for (int i = 0; i < Model.NumberOfPages; i++)
            {
                <li><a href="~/admin/user/pagination?pageIndex=@(i+1)&pageSize=2" class="page_link">@(i + 1)</a></li>
            }*@
        </ul>
    </div>
</div>

