﻿@model Frontend.Models.BindingModels.Admin.MedicineChestCreateBindingModel
@{
    ViewBag.Title = "Medicine Chest Create";
    ViewBag.Header = $"{@Resources.Translation.MedicalChest} {@Resources.Translation.Create}";
}

<form class="form-horizontal" action="~/admin/medicinechest/create" method="post">
    @Html.AntiForgeryToken()
    <fieldset>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-1 control-label" for="DanishName">@Resources.Translation.Danish @Resources.Translation.Name:</label>
            <div class="col-md-5">
                <input id="DanishName" name="DanishName" placeholder="" class="form-control input-md" required="" type="text" value="@Model.DanishName">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-1 control-label" for="DanishName">@Resources.Translation.English @Resources.Translation.Name:</label>
            <div class="col-md-5">
                <input id="EnglishName" name="EnglishName" placeholder="" class="form-control input-md" required="" type="text" value="@Model.EnglishName">
            </div>
        </div>

    </fieldset>
    <div class="row">
        <div class="col-md-1">
            <a href="~/admin/medicinegroup">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    <span style="margin-left: 5px;">@Resources.Translation.Back</span>
                </button>
            </a>
        </div>
        <div class="col-md-5">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span style="margin-left: 5px;">@Resources.Translation.Create</span>
            </button>
        </div>
    </div>
</form>
