﻿@using Entities
@using System.Threading
@{
    ViewBag.Title = "Welcome";
    @model Frontend.Models.User.MedicineViewModel
}

<h2>UserIndex</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#meds">@Resources.Translation.Meds</a></li>
    <!-- <li><a data-toggle="tab" href="#medequip">@Resources.Translation.MedEquipment</a></li> -->
    @*<li><a data-toggle="tab" href="#labels">@Resources.Translation.Labels</a></li>*@
</ul>

<div class="tab-content">
    <div id="meds" class="tab-pane fade in active">
        <form action="~/User/Update" method="post">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="max-width:75px">@Resources.Translation.GroupNumber</th>
                        <th style="max-width:75px">ATC</th>
                        <th style="max-width:200px">@Resources.Translation.Name</th>
                        <th style="max-width:100px">@Resources.Translation.Administration</th>
                        <th width="10%">@Resources.Translation.Strength</th>
                        <th width="10%">@Resources.Translation.ItemAmount</th>
                        <th width="10%">MFAG</th>
                        <th width="7%">Total Amount</th>
                        <th width="7%">Exp Date</th>
                        <th width="7%">Exp Date</th>
                        <th width="7%">Exp Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.MedChest.ItemGroups)
                    {
                        var grpNr = group.ItemGroupInformation.GroupNumber;
                        int number;
                        bool isNumeric = int.TryParse(grpNr, out number);
                        if (isNumeric)
                        {
                            <tr>
                                <th style="max-width:50px" colspan="11">
                                    @group.ItemGroupInformation.Information(Thread.CurrentThread.CurrentUICulture.Name).Name
                                </th>


                            </tr>

                            foreach (var item in group.Items)
                            {
                                var info = item.ItemInformation;
                                <tr>
                                    <td style="max-width:75px; min-width:45px">@info.GroupNumber</td>
                                    <td style="max-width:75px; min-width:45px">@info.AtcCode</td>
                                    <td style="max-width:200px">@info.Information(Thread.CurrentThread.CurrentUICulture.Name).Name</td>
                                    <td style="max-width:100px">@info.Information(Thread.CurrentThread.CurrentUICulture.Name).Administration</td>
                                    <td style="max-width:75px">@info.Strength</td>
                                    <td style="max-width:100px">@info.Information(Thread.CurrentThread.CurrentUICulture.Name).ItemAmount</td>
                                    <td style="max-width:50px">@info.Information(Thread.CurrentThread.CurrentUICulture.Name).Mfag</td>
                                    <td style="align-self:center; max-width:150px"><input value="@item.TotalStock" style="max-width:50px" type="text" name="item-totalstock-@item.Id" /> </td>
                                    <td style="align-self:center; max-width:150px"><input value="@item.ExpDateOne" style="max-width:50px" type="date" name="item-expdateone-@item.Id" /></td>
                                    <td style="align-self:center; max-width:150px"><input value="@item.ExpDateTwo" style="max-width:50px" type="date" name="item-expdatetwo-@item.Id" /></td>
                                    <td style="align-self:center; max-width:150px"><input value="@item.ExpDateThree" style="max-width:50px" type="date" name="item-expdatethree-@item.Id" /></td>
                                </tr>
                            }
                        }
                    }
                </tbody>

            </table>
            <button class="btn btn-default" name="Save" type="submit">Save me!</button>
        </form>

    </div>
    <div id="medequip" class="tab-pane fade">
        <form action="~/User/Update" method="post">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="max-width:75px">@Resources.Translation.GroupNumber</th>
                        <th style="max-width:75px">ATC</th>
                        <th style="max-width:200px">@Resources.Translation.Name</th>
                        <th style="max-width:100px">@Resources.Translation.Administration</th>
                        <th width="10%">@Resources.Translation.Strength</th>
                        <th width="10%">@Resources.Translation.ItemAmount</th>
                        <th width="10%">MFAG</th>
                        <th width="7%">Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.MedChest.ItemGroups)
                    {
                        var grpNr = group.ItemGroupInformation.GroupNumber;
                        int number;
                        bool isNumeric = int.TryParse(grpNr, out number);
                        if (!isNumeric)
                        {
                            <tr>
                                <th style="max-width:50px" colspan="11">
                                    @group.ItemGroupInformation.Information(Thread.CurrentThread.CurrentUICulture.Name).Name
                                </th>
                            </tr>

                            foreach (var item in group.Items)
                            {
                                var info = item.ItemInformation;
                                <tr>
                                    <td style="max-width:75px; min-width:45px">@info.GroupNumber</td>
                                    <td style="max-width:75px; min-width:45px">@info.AtcCode</td>
                                    <td style="max-width:200px">@info.Information(Thread.CurrentThread.CurrentUICulture.Name).Name</td>
                                    <td style="max-width:100px">@info.Information(Thread.CurrentThread.CurrentUICulture.Name).Administration</td>
                                    <td style="max-width:75px">@info.Strength</td>
                                    <td style="max-width:100px">@info.Information(Thread.CurrentThread.CurrentUICulture.Name).ItemAmount</td>
                                    <td style="max-width:50px">@info.Information(Thread.CurrentThread.CurrentUICulture.Name).Mfag</td>
                                    <td style="align-self:center; max-width:150px"><input value="@item.TotalStock" style="max-width:100px" type="text" name="item-totalstock-@item.Id" /> </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <button class="btn btn-default" name="Save" type="submit">Save me!</button>
        </form>
    </div>
    @*<div id="labels" class="tab-pane fade in active">
        <table class="table table-hover">
            <thead>
                
                <tr>
                    <th>
                        @Resources.Translation.Labels
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.MedChest.ItemGroups)
                {
                    foreach (var item in group.Items)
                    {
                        var info = item.ItemInformation;
                        <tr>
                            <td>@info.Information(Thread.CurrentThread.CurrentUICulture.Name).LabelGroupNr</td>
                            <td>@info.Information(Thread.CurrentThread.CurrentUICulture.Name).LabelName</td>
                            <td>@info.Information(Thread.CurrentThread.CurrentUICulture.Name).LabelForm</td>
                            <td>@info.Information(Thread.CurrentThread.CurrentUICulture.Name).LabelText</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>*@
    </div>