﻿@model Frontend.Models.BindingModels.Admin.MedicineGroupDeleteBindingModel

@{
    ViewBag.Title = "MedicinDeleteView";
    ViewBag.Header = $"{@Resources.Translation.MedicinGroup} {@Resources.Translation.Delete}";
}

<form action="~/admin/medicinegroup/delete" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="Name" value="@Model.Name" />
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-5">@Resources.Translation.DeleteConfirm: @Model.Name</div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <button type="submit" class="btn btn-default">
                @Resources.Translation.Delete
            </button>
            <a href="~/admin/medicinegroup">
                <button class="btn btn-default">
                    @Resources.Translation.Cancel
                </button>
            </a>
        </div>
    </div>
</form>
