﻿@using System.Threading
@using Entities
@model Frontend.Models.ViewModels.Admin.MedicineGroup.MedicineGroupViewModel
@{
    ViewBag.Title = "Medicine Group";
    ViewBag.Header = $"{@Resources.Translation.MedicinGroup}";
}
<div>
    <a href="~/admin/medicinegroup/create">
        <button type="button" class="btn btn-default">
            @Resources.Translation.Create
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
    </a>
</div>
<div class="panel panel-default">
    <div class="panel-heading">@Resources.Translation.Groups</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Resources.Translation.GroupNumber</th>
                <th>@Resources.Translation.Name</th>
                <th style="width: 60px;">@Resources.Translation.Edit</th>
                <th style="width: 60px;">@Resources.Translation.Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.ItemGroupInformations)
            {
                ItemGroupInformationLang lang
                    = item.Information(Thread.CurrentThread.CurrentUICulture.Name);
                <tr onclick="window.location.href = '/medicinegroup/info/@item.Id'">
                    <td>@item.Id</td>
                    <td>
                        <div>
                                @lang.Name
                        </div>
                    </td>
                    <td>
                        <a href="~/admin/medicinegroup/edit/@item.Id">
                            <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="~/admin/medicinegroup/delete/@item.Id">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


