﻿@using System.Threading
@using Entities
@model Frontend.Models.ViewModels.Admin.MedicineGroup.MedicineGroupInfoViewModel

@{
    ViewBag.Title = "MedicineGroupInfoView";
    ViewBag.Header = $"{@Resources.Translation.MedicinGroup} info.";
}

@{
    ItemGroupInformationLang itemGroupInformationLang = Model.ItemGroupInformation.Information(Thread.CurrentThread.CurrentUICulture.Name);
}
<h2>@Model.ItemGroupInformation.Id - @itemGroupInformationLang.Name</h2>

<div class="panel panel-default">
    <div class="panel-heading">@Resources.Translation.Groups</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 50px">@Resources.Translation.GroupNumber</th>
                <th>@Resources.Translation.Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.ItemGroupInformation.ItemInformations)
            {
                ItemInformationLang lang = item.Information(Thread.CurrentThread.CurrentUICulture.Name);
                <tr>
                    <td>@item.Id</td>
                    <td>@lang.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    <div class="row">

        <a class="btn btn-default" href="~/admin/medicinegroup">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <span style="margin-left: 5px;">@Resources.Translation.Back</span>
        </a>
        <a class="btn btn-default" href="~/admin/medicinegroup/edit/@Model.ItemGroupInformation.Id">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span style="margin-left: 5px;">@Resources.Translation.Edit</span>
        </a>
    </div>
</div>


