﻿@using System.Threading
@using Entities
@using Resources
@model IEnumerable<MedicalChestInformation>
@{
    ViewBag.Title = "ChestSelectView";
}

<div class="container" style="margin-top: 100px">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">              
                <div class="panel-body">                  
                    <form accept-charset="UTF-8" role="form" action="@Url.Action("ChestSelect", "Auth")" method="post">
                        @Html.AntiForgeryToken()
                        <fieldset>                            
                            <div class="form-group">
                                @for (int i = 0; i < Model.Count(); i++)
                                {
                                    MedicalChestInformation chestInfo = Model.ElementAt(i);
                                    MedicalChestInformationLang lang = chestInfo.Information(Thread.CurrentThread.CurrentUICulture.Name);
                                    if (i == 0)
                                    {
                                        <input class="form-group" type="radio" name="id" value="@chestInfo.Id" checked>@lang.Name.ToString()<br>
                                    }
                                    else
                                    {
                                        <input class="form-group" type="radio" name="id" value="@chestInfo.Id">@lang.Name.ToString()<br>
                                    }
                                }

                            </div>
                            <br />
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="@Translation.SelectChest">                  
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

