﻿

@using Resources
@model Frontend.Models.ViewModels.RedirectViewModel


@{
    ViewBag.Title = "Login";
}

<div class="container" style="margin-top: 100px">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Translation.SignInMessage</h3>
                </div>
                <div class="panel-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger" role="alert">@Html.ValidationSummary()</div>
                    }                   
                    <form accept-charset="UTF-8" role="form" action="@Url.Action("UserLogin", "Auth")" method="post">
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="@Translation.Username" name="Username" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="@Translation.Password" name="Password" type="password" value="">
                            </div>
                            <div>
                                <input type="hidden" name="Url" value="@Model.Url"/>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="@Translation.Login">
                            <a href="@Url.Action("UserRegister", "Auth")" class="btn btn-lg btn-success btn-block" style="max-width: 280px"><i></i>@Translation.RegisterUser</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
