﻿@using Entities
@using Resources
@{
    ViewBag.Title = "RegisterView";
}

<div class="container" style="margin-top: 100px">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Translation.RegisterMessage</h3>
                </div>
                <div class="panel-body">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger" role="alert">@Html.ValidationSummary()</div>
                    }  
                    <form accept-charset="UTF-8" role="form" action="@Url.Action("UserRegister", "Auth")" method="post">
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="@Translation.Username" name="Username" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="@Translation.Email" name="Email" type="text" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="@Translation.Password" name="Password" type="Password" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="@Translation.ConfirmPassword" name="ConfirmPassword" type="password" value="">                           
                            </div>                           
                            <br/>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="@Translation.RegisterUser">
                            <a href="@Url.Action("UserLogin", "Auth")" class="btn btn-lg btn-success btn-block" style="max-width: 280px"><i></i> @Translation.Cancel</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

